<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/images/travel.png">
        <title>{% block title %}{% endblock %}</title>
        {% block metas %}
        {% endblock %} {# metas #}

        {% block stylesheets %}
        {% endblock %}{# stylesheets #}
    </head>
    <body>
        {% block body %}
        {% endblock %} {# body #}

        {% block javascripts %}
        {% endblock %} {# javascripts #}
    </body>
</html>
