<form method="post" action="{{ path('admin_circuit_delete', {'id': circuit.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce circuit?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ circuit.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
