{% extends '/back/base_back.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouveau - Circuit{% endblock %}

{% block main %}
    <h1>Créer un nouveau circuit</h1>

    {{ include('back/circuit/_form.html.twig') }}

    <a role="button" class="btn btn-info" href="{{ path('admin_circuit_index') }}">Revenir à la liste</a>
{% endblock %}
